.container {
  display: flex;
  max-width: 800px;
  width: calc(100% - 64px);
  padding: 0 32px;
  margin: 24px auto;

  font-family: 'Helvetica', serif;
  font-size: 25px;
  text-align: justify;

  .label {
    text-align: end;
    margin-right: 24px;
    user-select: none;
  }

  .content {
    text-indent: 24px;
    width: 100%;
    transition: background-color 100ms linear;

    &:focus-visible {
      outline: none;
    }

    &[contenteditable="true"] {
      background-color: yellow;
    }
  }
}
